$bgurl: "https://wallpapersprinted.com/download/2/coffee_break-wallpaper-2560x1600.jpg";
$color1: silver;
.isBlue {
  color: $color1 !important;
}
.login {
  &__forgottenPassword {
    background: none;
    border: none;

    color: white;

    transition: 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $color1;
    }
  }
  display: flex;
  min-height: 100vh;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  &__formulee {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba($color: black, $alpha: 0.6);
    //backdrop-filter: blur(5px) brightness(120%);
    padding: 5% 5% 3% 5%;
    border: 1px solid #999;
    border-radius: 5px;
  }
  &__button {
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 2vh;
    align-content: center;
    padding: 2%;
    width: 100%;
    margin-bottom: -45px;
    border-radius: 5px;
    border: 1px solid #999;
    background: none;
    transition: background-color 0.3s;
    outline: none;
    &:hover {
      color: black;
      border-color: white;
      background-color: darken($color: white, $amount: 4);
      cursor: pointer;
    }
  }

  //a'la material design
  &__field {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
  }

  &__input {
    color: white;
    font-size: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: rgba($color: #000000, $alpha: 0);
    &:focus {
      outline: none;
      //background-color: darken($color: white, $amount: 3);
    }
  }

  &__input:focus ~ label,
  &__input:valid ~ label {
    top: -35px;
    font-size: 20px;
    color: white;
  }

  &__label {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* BOTTOM BARS ================================= */
  &__input {
    &--bar {
      position: relative;
      display: block;
      width: 100%;
    }

    &--bar:before,
    &--bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: cornflowerblue;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &--bar:before {
      left: 50%;
    }
    &--bar:after {
      right: 50%;
    }

    /* active state */
    &:focus ~ &--bar:before,
    &:focus ~ &--bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    &--highlight {
      position: absolute;
      height: 60%;
      width: 100%;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.1;
    }

    /* active state */
    &:focus ~ &--highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }

  // koniec a'la material-design
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: cornflowerblue;
  }
  to {
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: cornflowerblue;
  }
  to {
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: cornflowerblue;
  }
  to {
    background: transparent;
  }
}
@media only screen and (max-width: 900px) {
  .login {
    &__formulee {
      width: 100%;
      height: 100vh;
      border: none;
    }
  }
}
