.forgottenPassword {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    display: flex;
    padding: 1.5%;
    width: 30%;
    background-color: rgba($color: black, $alpha: 0.7);
  }
  &__button {
    padding: 3%;

    width: 50%;
    background: none;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: larger;
    background-color: rgba(white, 0.4);
    margin: 0.5%;
    transition: 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgba(white, 0.7);
    }
  }
  &__input {
    
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    padding: 3%;
    font-size: larger;
    &::placeholder {
      font-size: larger;
    }
  }
}

@media only screen and (max-width: 900px) {
  .forgottenPassword {
    &__container {
      padding: 10%;
      width: 100%;
      flex-direction: column;
    }
    &__input {
      width: 100%;
    }
    &__button {
      margin: 1%;
      width: 100%;
    }
  }
}
